@if (plugin!=null || link != null) {
  <div ngClass="(plugin?.tags?.length ?? 0) === 0 ? 'single-line' : ''">
    <span>
      @if (plugin==null) {
        <span>{{link?.name}}</span>
      }
      @if (plugin!=null) {
        <span>{{plugin.title}} ({{plugin.version}})</span>
      }
      @if (plugin!=null) {
        <qhana-plugin-last-used class="plugin-status" [plugin]="plugin" [color]="'accent'" [spinner]="16"
          >
        </qhana-plugin-last-used>
      }
    </span>
    <mat-chip-listbox class="tags" [hidden]="(plugin?.tags?.length ?? 0) === 0">
      @for (tag of plugin?.tags ?? []; track tag) {
        <mat-chip class="tag">{{tag}}</mat-chip>
      }
    </mat-chip-listbox>
  </div>
}
