.sidebar-container
    height: 100vh
    display: flex
    position: sticky
    top: 0

.nav-icons
    position: sticky
    top: 0
    height: 100vh
    overflow-y: hidden
    display: flex
    flex-direction: column
    border-inline-end: 1px solid var(--background-card)

.sidebar-button
    min-width: 2.5rem
    min-height: 2.5rem
    padding-inline: 0
    display: flex
    align-items: center
    justify-content: center
    background: transparent
    border: none
    color: var(--text)
    cursor: pointer

.sidebar-button.active
    background-color: var(--background-card)
    color: var(--text-card)

.template-header, .plugin-group-header
    display: flex
    gap: 0.3rem
    justify-content: space-between
    padding-inline: 1rem
    cursor: pointer

.builtin-template-button
    min-height: 3rem
    display: inline-flex
    align-items: center
    font-size: initial

.builtin-template-button:is(:hover, :focus, :active, .active)
    background-color: var(--primary-lighter)

@media (prefers-color-scheme: dark)
    .builtin-template-button:is(:hover, :focus, :active, .active)
        background-color: var(--primary)

.new-template-button
    width: calc(100% - 1rem)
    margin-inline: 0.5rem
    margin-block-start: 1rem

.plugin-group
    margin-block-end: 1rem
    scroll-margin-block-start: 10rem

.plugin-group-header-text
    display: inline-flex
    gap: 0.3rem
    align-items: center

.w-100
    width: 100%

.full-width
    width: calc(100% - 2rem)
    margin-inline: 1rem

.expander-head, .sidebar-expander
    position: sticky
    top: 0
    background: var(--background)

.expander-head
    padding-top: 1px
    z-index: 2

.sidebar-expander
    max-height: 100vh
    overflow: clip scroll
    scrollbar-width: thin
    min-width: 15rem
    width: 25vw
    max-width: 20rem
    padding-block-end: 4rem
    border-inline-end: 1px solid var(--border-color)

@media (prefers-color-scheme: dark)
    .sidebar-expander
        border-inline-end-color: var(--background)

@media screen and (max-width: 900px)
    .sidebar-expander[data-open=no]
        display: none

    .nav-icons[data-open=no] .sidebar-button.active
        background-color: transparent
        color: var(--text)

.template-tab-sidebar
    position: sticky
    top: 30px