<mat-expansion-panel *ngIf="createTabLink != null">
    <mat-expansion-panel-header>
        <mat-panel-title class="tab-title">Create New Tab</mat-panel-title>
    </mat-expansion-panel-header>
    <qhana-ui-template-tab-form  (isValid)="isValid = $event" (data)="newTabData = $event" (formSubmit)="createNewTab()" #newTabForm></qhana-ui-template-tab-form>
    <button class="new-tab-button" mat-flat-button color="primary" [disabled]="!isValid" (click)="newTabForm.submitForm()"><mat-icon>save</mat-icon>save</button>
</mat-expansion-panel>

<div *ngIf="!isLoading && (navigationGroups.length > 0 || navigationGroup != null)">
    <h3>Navigation Tab Groups</h3>
    <mat-accordion *ngIf="navigationGroup != null">
        @for (tab of navigationGroup.tabs; track tab.href) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="tab-title">
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                        {{tab.name}}
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{navigationGroup.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                </mat-expansion-panel-header>
                <qhana-ui-template-tab [tabLink]="tab" [useCache]="true"></qhana-ui-template-tab>
            </mat-expansion-panel>
        }
    </mat-accordion>

    @for (group of navigationGroups; track group.groupKey) {
        <h4>
            <mat-icon *ngIf="group.icon">{{group.icon}}</mat-icon>
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            {{tab.name}}
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                    </mat-expansion-panel-header>
                    <qhana-ui-template-tab [tabLink]="tab" [useCache]="true"></qhana-ui-template-tab>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
<div *ngIf="!isLoading && workspaceGroup != null">
    <h3>Experiment Workspace Tabs</h3>
    <mat-accordion>
        @for (tab of workspaceGroup.tabs; track tab.href) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="tab-title">
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                        {{tab.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <qhana-ui-template-tab [tabLink]="tab" [useCache]="true"></qhana-ui-template-tab>
            </mat-expansion-panel>
        }
    </mat-accordion>
</div>
<div *ngIf="!isLoading && (experimentNavigationGroups.length > 0 || experimentNavigationGroup != null)">
    <h3>Experiment Navigation Tab Groups</h3>
    <mat-accordion *ngIf="experimentNavigationGroup != null">
        @for (tab of experimentNavigationGroup.tabs; track tab.href) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="tab-title">
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                        {{tab.name}}
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{experimentNavigationGroup.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                </mat-expansion-panel-header>
                <qhana-ui-template-tab [tabLink]="tab" [useCache]="true"></qhana-ui-template-tab>
            </mat-expansion-panel>
        }
    </mat-accordion>

    @for (group of experimentNavigationGroups; track group.groupKey) {
        <h4>
            <mat-icon *ngIf="group.icon">{{group.icon}}</mat-icon>
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            {{tab.name}}
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                    </mat-expansion-panel-header>
                    <qhana-ui-template-tab [tabLink]="tab" [useCache]="true"></qhana-ui-template-tab>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
<div *ngIf="!isLoading && unknownGroups.length > 0">
    <h3>Unknown Tab Groups</h3>
    @for (group of unknownGroups; track group.groupKey) {
        <h4>
            <mat-icon *ngIf="group.icon">{{group.icon}}</mat-icon>
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            {{tab.name}}
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                    </mat-expansion-panel-header>
                    <qhana-ui-template-tab [tabLink]="tab" [useCache]="true"></qhana-ui-template-tab>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
