<div *ngIf="navigationGroups.length > 0 || navigationGroup != null">
    <h3>Navigation Tab Groups</h3>
    <mat-accordion *ngIf="navigationGroup != null">
        @for (tab of navigationGroup.tabs; track tab.href) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="tab-title">
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                        {{tab.name}}
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{navigationGroup.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                </mat-expansion-panel-header>
                <p>TODO: CONTENT</p>
            </mat-expansion-panel>
        }
    </mat-accordion>

    @for (group of navigationGroups; track group.groupKey) {
        <h4>
            <mat-icon *ngIf="group.icon">{{group.icon}}</mat-icon>
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            {{tab.name}}
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>TODO: CONTENT</p>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
    <ul>
        <li *ngIf="navigationGroup != null">{{navigationGroup.name}}</li>
        <li *ngFor="let group of navigationGroups">{{group.name}} - {{group.groupKey}}</li>
    </ul>
</div>
<div *ngIf="workspaceGroup != null">
    <h3>Experiment Workspace Tabs</h3>
    <mat-accordion>
        @for (tab of workspaceGroup.tabs; track tab.href) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="tab-title">
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                        {{tab.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>TODO: CONTENT</p>
            </mat-expansion-panel>
        }
    </mat-accordion>
</div>
<div *ngIf="experimentNavigationGroups.length > 0 || experimentNavigationGroup != null">
    <h3>Experiment Navigation Tab Groups</h3>
    <mat-accordion *ngIf="experimentNavigationGroup != null">
        @for (tab of experimentNavigationGroup.tabs; track tab.href) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="tab-title">
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                        {{tab.name}}
                        <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{experimentNavigationGroup.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                </mat-expansion-panel-header>
                <p>TODO: CONTENT</p>
            </mat-expansion-panel>
        }
    </mat-accordion>

    @for (group of experimentNavigationGroups; track group.groupKey) {
        <h4>
            <mat-icon *ngIf="group.icon">{{group.icon}}</mat-icon>
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            {{tab.name}}
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>TODO: CONTENT</p>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
<div *ngIf="unknownGroups.length > 0">
    <h3>Unknown Tab Groups</h3>
    @for (group of unknownGroups; track group.groupKey) {
        <h4>
            <mat-icon *ngIf="group.icon">{{group.icon}}</mat-icon>
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.icon">{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            {{tab.name}}
                            <mat-icon *ngIf="hrefToTab.get(tab.href)?.groupKey">more_vert</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="hrefToTab.get(tab.href)?.groupKey">(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>TODO: CONTENT</p>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
