@if (createTabLink != null && !showOnly) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="tab-title">Create New Tab</mat-panel-title>
        </mat-expansion-panel-header>
        <qhana-ui-template-tab-form  (isValid)="isValid = $event" (data)="newTabData = $event" (formSubmit)="createNewTab(() => newTabForm.clearForm())" #newTabForm></qhana-ui-template-tab-form>
        <button class="new-tab-button" mat-flat-button color="primary" [disabled]="!isValid" (click)="newTabForm.submitForm()"><mat-icon>save</mat-icon>save</button>
    </mat-expansion-panel>
}

@if (!isLoading && (navigationGroups.length > 0 || navigationGroup != null)) {
    <div>
        <h3>Navigation Tab Groups</h3>
        @if (navigationGroup != null) {
            <mat-accordion>
                @for (tab of navigationGroup.tabs; track tab.href) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="tab-title">
                                @if (hrefToTab.get(tab.href)?.icon) {
                                    <mat-icon>{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                                }
                                {{tab.name}} @if (tab.resourceKey?.uiTemplateTabId) {({{tab.resourceKey.uiTemplateTabId}})}
                                @if (hrefToTab.get(tab.href)?.groupKey) {
                                    <mat-icon>more_vert</mat-icon>
                                }
                            </mat-panel-title>
                            @if (hrefToTab.get(tab.href)?.groupKey) {
                                <mat-panel-description>(Group: {{navigationGroup.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                            }
                        </mat-expansion-panel-header>
                        <qhana-ui-template-tab [tabLink]="tab" [useCache]="true" [showOnly]="showOnly"></qhana-ui-template-tab>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        }

        @for (group of navigationGroups; track group.groupKey) {
            <h4>
                @if (group.icon) {
                    <mat-icon>{{group.icon}}</mat-icon>
                }
                {{group.name}}
                <span class="group-title-extra">(Group: {{group.groupKey}})</span>
            </h4>
            <mat-accordion>
                @for (tab of group.tabs; track tab.href) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="tab-title">
                                @if (hrefToTab.get(tab.href)?.icon) {
                                    <mat-icon>{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                                }
                                {{tab.name}} @if (tab.resourceKey?.uiTemplateTabId) {({{tab.resourceKey.uiTemplateTabId}})}
                                @if (hrefToTab.get(tab.href)?.groupKey) {
                                    <mat-icon>more_vert</mat-icon>
                                }
                            </mat-panel-title>
                            @if (hrefToTab.get(tab.href)?.groupKey) {
                                <mat-panel-description>(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                            }
                        </mat-expansion-panel-header>
                        <qhana-ui-template-tab [tabLink]="tab" [useCache]="true" [showOnly]="showOnly"></qhana-ui-template-tab>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        }
    </div>
}
@if (!isLoading && workspaceGroup != null) {
    <div>
        <h3>Experiment Workspace Tabs</h3>
        <mat-accordion>
            @for (tab of workspaceGroup.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            @if (hrefToTab.get(tab.href)?.icon) {
                                <mat-icon>{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            }
                            {{tab.name}} @if (tab.resourceKey?.uiTemplateTabId) {({{tab.resourceKey.uiTemplateTabId}})}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <qhana-ui-template-tab [tabLink]="tab" [useCache]="true" [showOnly]="showOnly"></qhana-ui-template-tab>
                </mat-expansion-panel>
            }
        </mat-accordion>
    </div>
}
@if (!isLoading && (experimentNavigationGroups.length > 0 || experimentNavigationGroup != null)) {
    <div>
        <h3>Experiment Navigation Tab Groups</h3>
        @if (experimentNavigationGroup != null) {
            <mat-accordion *ngIf="experimentNavigationGroup != null">
                @for (tab of experimentNavigationGroup.tabs; track tab.href) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="tab-title">
                                @if (hrefToTab.get(tab.href)?.icon) {
                                    <mat-icon>{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                                }
                                {{tab.name}} @if (tab.resourceKey?.uiTemplateTabId) {({{tab.resourceKey.uiTemplateTabId}})}
                                @if (hrefToTab.get(tab.href)?.groupKey) {
                                    <mat-icon>more_vert</mat-icon>
                                }
                            </mat-panel-title>
                            @if (hrefToTab.get(tab.href)?.groupKey) {
                                <mat-panel-description>(Group: {{experimentNavigationGroup.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                            }
                        </mat-expansion-panel-header>
                        <qhana-ui-template-tab [tabLink]="tab" [useCache]="true" [showOnly]="showOnly"></qhana-ui-template-tab>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        }

        @for (group of experimentNavigationGroups; track group.groupKey) {
            <h4>
                @if (group.icon) {
                    <mat-icon>{{group.icon}}</mat-icon>
                }
                {{group.name}}
                <span class="group-title-extra">(Group: {{group.groupKey}})</span>
            </h4>
            <mat-accordion>
                @for (tab of group.tabs; track tab.href) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="tab-title">
                                @if (hrefToTab.get(tab.href)?.icon) {
                                    <mat-icon>{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                                }
                                {{tab.name}} @if (tab.resourceKey?.uiTemplateTabId) {({{tab.resourceKey.uiTemplateTabId}})}
                                @if (hrefToTab.get(tab.href)?.groupKey) {
                                    <mat-icon>more_vert</mat-icon>
                                }
                            </mat-panel-title>
                            @if (hrefToTab.get(tab.href)?.groupKey) {
                                <mat-panel-description>(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                            }
                        </mat-expansion-panel-header>
                        <qhana-ui-template-tab [tabLink]="tab" [useCache]="true" [showOnly]="showOnly"></qhana-ui-template-tab>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        }
    </div>
}
@if (!isLoading && unknownGroups.length > 0) {
<div>
    <h3>Unknown Tab Groups</h3>
    @for (group of unknownGroups; track group.groupKey) {
        <h4>
            @if (group.icon) {
                <mat-icon>{{group.icon}}</mat-icon>
            }
            {{group.name}}
            <span class="group-title-extra">(Group: {{group.groupKey}})</span>
        </h4>
        <mat-accordion>
            @for (tab of group.tabs; track tab.href) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="tab-title">
                            @if (hrefToTab.get(tab.href)?.icon) {
                                <mat-icon>{{hrefToTab.get(tab.href)?.icon}}</mat-icon>
                            }
                            {{tab.name}} @if (tab.resourceKey?.uiTemplateTabId) {({{tab.resourceKey.uiTemplateTabId}})}
                            @if (hrefToTab.get(tab.href)?.groupKey) {
                                <mat-icon>more_vert</mat-icon>
                            }
                        </mat-panel-title>
                        @if (hrefToTab.get(tab.href)?.groupKey) {
                            <mat-panel-description>(Group: {{group.groupKey}}.{{hrefToTab.get(tab.href)?.groupKey}})</mat-panel-description>
                        }
                    </mat-expansion-panel-header>
                    <qhana-ui-template-tab [tabLink]="tab" [useCache]="true" [showOnly]="showOnly"></qhana-ui-template-tab>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
}
