<!-- Default tab navigation layout: nested tab bars -->
@if (tabNavigationLayout === "nested-tabs") {
    @for (tabUrlOnPath of tabPath; track tabUrlOnPath) {
        @if (groupToTabs.get(urlToTab.get(tabUrlOnPath)?.self?.resourceKey?.["?tab"] ?? "")?.length) {
            <nav mat-tab-nav-bar class="big-nav-tabs" [tabPanel]="tabContentPanel">
                @for (tabUrl of groupToTabs.get(urlToTab.get(tabUrlOnPath)?.self?.resourceKey?.["?tab"] ?? ""); track tabUrl) {
                    <a mat-tab-link
                        [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(tabUrl)?.navigationLink ?? [])"
                        [queryParams]="(templateParam != null) ? {'template': templateParam} : {}"
                        [active]="tabPath.includes(tabUrl)">
                        <span class="link-label">
                            @if (urlToTab.get(tabUrl)?.icon) {
                                <mat-icon>
                                    {{urlToTab.get(tabUrl)?.icon}}
                                </mat-icon>
                            }
                            {{urlToTab.get(tabUrl)?.name ?? tabUrl}}
                            @if (urlToTab.get(tabUrl)?.groupKey) {
                                <mat-icon>more_vert</mat-icon>
                            }
                            <qhana-tab-completion-indicator [tab]="urlToTab.get(tabUrl)?.self ?? null"></qhana-tab-completion-indicator>
                        </span>
                    </a>
                }
            </nav>
        }
    }
}

<!-- Stepper Layout -->
<ng-template #laneGroup let-group>
    @if (group.kind === "parallel") {
        <mat-icon>arrow_forward</mat-icon>
        <div class="bracket-left"></div>
    }
    @if (group.kind === "parallel-choice") {
        <mat-icon class="rotate-90">call_split</mat-icon>
    }
    @if (group.kind === "sequential") {
        <mat-icon>arrow_forward</mat-icon>
    }
    <div class="stepper-group-{{group.kind}}">
        @for (lane of group.lanes; track $index) {
            @if (group.kind === "sequential") {
                @if ($index !== 0) {
                    <div class="bracket-right"></div>
                    <mat-icon>arrow_forward</mat-icon>
                }
                <div class="bracket-left"></div>
            }
            <ng-container *ngTemplateOutlet="stepperLane; context:{$implicit: lane}"></ng-container>
        }
        @if (group.kind === "sequential") {
            <div class="bracket-right"></div>
        }
    </div>
    @if (group.kind === "parallel") {
        <div class="bracket-right"></div>
        <mat-icon>arrow_forward</mat-icon>
    }
    @if (group.kind === "parallel-choice") {
        <mat-icon class="rotate-90">merge</mat-icon>
    }
    @if (group.kind === "sequential") {
        <mat-icon>arrow_forward</mat-icon>
    }
</ng-template>
<ng-template #stepperLane let-lane>
    <div class="stepper-lane">
        @for (entry of lane.entries; track $index) {
            @if ($index === 0 && lane === stepperData) {
                <mat-icon>start</mat-icon>
            }
            @if (entry.type === "tab") {
                @if ($index !== 0) {
                    <mat-icon>arrow_forward</mat-icon>
                }
                <a [matButton]="tabCompletion.isCompleted || entry.tabUrl === currentTemplateTab?.self?.href ? 'tonal' : 'outlined'"
                    [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(entry.tabUrl)?.navigationLink ?? [])"
                    [queryParams]="(templateParam != null) ? {'template': templateParam} : {}" [color]="entry.tabUrl === currentTemplateTab?.self?.href ? 'primary' : null">
                    <span class="link-label">
                        @if (urlToTab.get(entry.tabUrl)?.icon) {
                            <mat-icon>
                                {{urlToTab.get(entry.tabUrl)?.icon}}
                            </mat-icon>
                        }
                        {{urlToTab.get(entry.tabUrl)?.name ?? entry.tabUrl}}
                        @if (urlToTab.get(entry.tabUrl)?.groupKey) {
                            <mat-icon>more_vert</mat-icon>
                        }
                        <qhana-tab-completion-indicator [tab]="urlToTab.get(entry.tabUrl)?.self ?? null" #tabCompletion></qhana-tab-completion-indicator>
                    </span>
                </a>
            }
            @if (entry.type === "group") {
                <ng-container *ngTemplateOutlet="laneGroup; context:{$implicit: entry}"></ng-container>
            }
        }
        @if (lane === stepperData) {
            <mat-icon>flag</mat-icon>
        }
    </div>
</ng-template>
@if (tabNavigationLayout === "stepper") {
    <div class="stepper" [style]="{'anchor-name': '--' + (stepperHelp.anchor|async)}">
        @if (stepperData != null) {
            <ng-container *ngTemplateOutlet="stepperLane; context:{$implicit: stepperData}"></ng-container>
        } @else {
            <div class="stepper-lane">
                <p>Failed to generate a stepper layout from the template tabs.</p>
                <button mat-raised-button (click)="tabNavigationLayout = 'nested-tabs'">show all tabs</button>
            </div>
        }
    </div>
    <qhana-help-tooltip label="Show help for the stepper layout." buttonPos="top-center" tooltipPos="bottom-center" #stepperHelp>
        <p>
            The stepper layout orders tabs by their "previous" and "next" relations.
        </p>
        <div class="help-paragraph">
            <p><b>Sequential:</b> Tabs should be completed in order from left to right.</p>
            <div class="stepper">
                <div class="stepper-lane">
                    <mat-icon>start</mat-icon>
                    <button [matButton]="'tonal'">first tab <mat-icon inline="true">done</mat-icon></button>
                    <mat-icon>arrow_forward</mat-icon>
                    <button [matButton]="'tonal'" color="primary">current tab</button>
                    <mat-icon>arrow_forward</mat-icon>
                    <button [matButton]="'outlined'">next tab</button>
                    <mat-icon>arrow_forward</mat-icon>
                    <div class="stepper-group-sequential">
                        <div class="bracket-left"></div>
                        <div class="stepper-lane">
                            <button [matButton]="'outlined'">first tab (nested sequence)</button>
                            <mat-icon>arrow_forward</mat-icon>
                            <button [matButton]="'outlined'">second tab (nested sequence)</button>
                        </div>
                        <div class="bracket-right"></div>
                    </div>
                    <mat-icon>flag</mat-icon>
                </div>
            </div>
        </div>
        <div class="help-paragraph">
            <p><b>Parallel:</b> Tabs can be completed in any order, but within a lane tabs must still be completed from left to right.</p>
            <div class="stepper">
                <div class="stepper-lane">
                    <div class="bracket-left"></div>
                    <div class="stepper-group-parallel">
                        <div class="stepper-lane">
                            <button [matButton]="'outlined'">first tab (top)</button>
                            <mat-icon>arrow_forward</mat-icon>
                            <button [matButton]="'outlined'">second tab (top)</button>
                        </div>
                        <div class="stepper-lane">
                            <button [matButton]="'outlined'">first tab (bottom)</button>
                        </div>
                    </div>
                    <div class="bracket-right"></div>
                </div>
            </div>
        </div>
        <div class="help-paragraph">
            <p><b>Parallel Choice:</b> Two or more (exclusive) alternative paths. Only one path needs to be completed.</p>
            <div class="stepper">
                <div class="stepper-lane">
                    <mat-icon class="rotate-90">call_split</mat-icon>
                    <div class="stepper-group-parallel-choice">
                        <div class="stepper-lane">
                            <button [matButton]="'outlined'">first tab (top)</button>
                            <mat-icon>arrow_forward</mat-icon>
                            <button [matButton]="'outlined'">second tab (top)</button>
                        </div>
                        <div class="stepper-lane">
                            <button [matButton]="'outlined'">first tab (bottom)</button>
                        </div>
                    </div>
                    <mat-icon class="rotate-90">call_merge</mat-icon>
                </div>
            </div>
        </div>
    </qhana-help-tooltip>
}


<!-- Plugins as navigation tabs if nr. < 6-->
@if (tabNavigationLayout === "nested-tabs" && tabPath.length === 1 && (currentPluginGroup?.collectionSize ?? 0) > 1 && (currentPluginGroup?.collectionSize ?? 0) < 6) {
    <nav mat-tab-nav-bar class="big-nav-tabs" [tabPanel]="tabContentPanel">
        @for (plugin of currentPluginGroup?.items; track plugin.href) {
            <a mat-tab-link
                [routerLink]="navTabLinkPrefix.concat(currentPath ? [currentPath] : []).concat([currentTabId ?? '-1', 'plugin', plugin.resourceKey?.pluginId ?? '-1'])"
                [queryParams]="(templateParam != null) ? {'template': templateParam} : {}"
                [active]="plugin.resourceKey?.pluginId === currentPluginId || plugin.resourceKey?.pluginId === activePlugin?.resourceKey?.pluginId">
                {{plugin.name}}
            </a>
        }
    </nav>
}

<!-- Main content panel -->
<mat-tab-nav-panel class="main-content" #tabContentPanel>

    @if (tabNavigationLayout === "outline") {
        <mat-card class="sidebar">
            <mat-card-header class="sidebar-header t-title">Outline:</mat-card-header>
            <mat-card-content class="sidebar-content-wrapper">
                <nav name="sidebar" class="sidebar-content scrollable">
                    @for (tabUrl of allTabs; track tabUrl) {
                        <a [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(tabUrl)?.navigationLink ?? [])"
                            [queryParams]="(templateParam != null) ? {'template': templateParam} : {}"
                            class="sidebar-link {{(tabUrl === currentTemplateTab?.self?.href) ? 'active' : ''}}"
                            style="--level: {{(urlToTab.get(tabUrl)?.location?.split('.')?.length ?? 1)-1}};">
                            <span class="link-label">
                                @if (urlToTab.get(tabUrl)?.icon) {
                                    <mat-icon>
                                        {{urlToTab.get(tabUrl)?.icon}}
                                    </mat-icon>
                                }
                                {{urlToTab.get(tabUrl)?.name ?? tabUrl}}
                                <qhana-tab-completion-indicator [tab]="urlToTab.get(tabUrl)?.self ?? null"></qhana-tab-completion-indicator>
                            </span>
                        </a>
                        @if (tabUrl === currentTemplateTab?.self?.href && (urlToNavData.get(tabUrl)?.previousTabs?.length || urlToNavData.get(tabUrl)?.nextTabs?.length)) {
                            <div class="inline-buttons">
                                @if (urlToNavData.get(tabUrl)?.previousTabs?.length === 1) {
                                    @for (prevTabUrl of urlToNavData.get(tabUrl)?.previousTabs ?? []; track prevTabUrl) {
                                        @if (urlToNavData.get(prevTabUrl)) {
                                            <a [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(prevTabUrl)?.navigationLink ?? [])"
                                                [queryParams]="(templateParam != null) ? {'template': templateParam} : {}" mat-flat-button>
                                                previous
                                            </a>
                                        }
                                    }
                                }
                                @if ((urlToNavData.get(tabUrl)?.previousTabs?.length ?? 0) > 1) {
                                    <details class="inline-details">
                                        <summary class="summary-button no-decoration" mat-ripple>previous ({{urlToNavData.get(tabUrl)?.previousTabs?.length}})</summary>
                                        @for (prevTabUrl of urlToNavData.get(tabUrl)?.previousTabs ?? []; track prevTabUrl) {
                                            @if (urlToNavData.get(prevTabUrl)) {
                                                <a [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(prevTabUrl)?.navigationLink ?? [])"
                                                    [queryParams]="(templateParam != null) ? {'template': templateParam} : {}" mat-flat-button>
                                                    {{urlToTab.get(prevTabUrl)?.name ?? 'previous tab'}}
                                                </a>
                                            }
                                        }
                                    </details>
                                }
                                @if (urlToNavData.get(tabUrl)?.nextTabs?.length === 1) {
                                    @for (nextTabUrl of urlToNavData.get(tabUrl)?.nextTabs ?? []; track nextTabUrl) {
                                        @if (urlToNavData.get(nextTabUrl)) {
                                            <a [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(nextTabUrl)?.navigationLink ?? [])"
                                                [queryParams]="(templateParam != null) ? {'template': templateParam} : {}" mat-flat-button>
                                                next
                                            </a>
                                        }
                                    }
                                }
                                @if ((urlToNavData.get(tabUrl)?.nextTabs?.length ?? 0) > 1) {
                                    <details class="inline-details">
                                        <summary class="summary-button no-decoration">next ({{urlToNavData.get(tabUrl)?.nextTabs?.length}})</summary>
                                        @for (nextTabUrl of urlToNavData.get(tabUrl)?.nextTabs ?? []; track nextTabUrl) {
                                            @if (urlToNavData.get(nextTabUrl)) {
                                                <a [routerLink]="navTabLinkPrefix.concat(urlToNavData.get(nextTabUrl)?.navigationLink ?? [])"
                                                    [queryParams]="(templateParam != null) ? {'template': templateParam} : {}" mat-flat-button>
                                                    {{urlToTab.get(nextTabUrl)?.name ?? 'next tab'}}
                                                </a>
                                            }
                                        }
                                    </details>
                                }
                            </div>
                        }
                        @if (tabUrl === currentTemplateTab?.self?.href && currentPluginGroup) {
                            <qhana-growing-list [apiLink]="currentPluginGroup.self"
                                [highlighted]="highlightedPlugin" [highlightByKey]="'pluginId'"
                                (clickItem)="selectPlugin($event)"></qhana-growing-list>
                        }
                    }
                </nav>
            </mat-card-content>
        </mat-card>
    }

    @if (tabNavigationLayout === "stepper" && currentPluginGroup && !currentTemplateTab?.groupKey) {
        <mat-card class="sidebar">
            <mat-card-header class="sidebar-header t-title">Plugins</mat-card-header>
            <mat-card-content class="sidebar-content-wrapper">
                <qhana-growing-list class="sidebar-content scrollable" [apiLink]="currentPluginGroup.self"
                    [highlighted]="highlightedPlugin" [highlightByKey]="'pluginId'"
                    (clickItem)="selectPlugin($event)"></qhana-growing-list>
            </mat-card-content>
        </mat-card>
    }

    @if (tabNavigationLayout === "nested-tabs" && currentPluginGroup && (currentPluginGroup.collectionSize >= 6 || (tabPath.length > 1 && currentPluginGroup.collectionSize > 1))) {
        <!-- Plugins as sidebar if >=6 Plugins -->
        <mat-card class="sidebar">
            <mat-card-header class="sidebar-header t-title">Plugins</mat-card-header>
            <mat-card-content class="sidebar-content-wrapper">
                <qhana-growing-list class="sidebar-content scrollable" [apiLink]="currentPluginGroup.self"
                    [highlighted]="highlightedPlugin" [highlightByKey]="'pluginId'"
                    (clickItem)="selectPlugin($event)"></qhana-growing-list>
            </mat-card-content>
        </mat-card>
    }

    @if (activePluginFrontendUrl == null && currentTemplateTab && currentPluginId == null) {
        <mat-card class="tab-content">
            <mat-card-header class="tab-content-header t-title">
                @if (currentTemplateTab.icon) {
                    <mat-icon>{{currentTemplateTab.icon}}</mat-icon>
                }
                {{currentTemplateTab.name}}
                <qhana-tab-completion-indicator [tab]="currentTemplateTab.self" [color]="'primary'"></qhana-tab-completion-indicator>
            </mat-card-header>
            <mat-card-content>
                <qhana-markdown [markdown]="currentTemplateTab.description"></qhana-markdown>
            </mat-card-content>
        </mat-card>
    }

    @if (activePluginFrontendUrl != null) {
        <qhana-plugin-uiframe class="plugin-frame" [url]="activePluginFrontendUrl"
            [context]="{experimentId: currentExperimentId??undefined, location: currentLocation??undefined}"
            (formDataSubmit)="onPluginUiFormSubmit($event)" (requestDataPreview)="previewData = $event">
        </qhana-plugin-uiframe>
    }

    @if (previewData) {
        <qhana-data-preview class="data-preview" [data]="previewData"
            [context]="{experimentId: currentExperimentId??undefined, location: currentLocation ? currentLocation + '.data-preview' : undefined}">
            <h3 class="t-headline">Preview "{{previewData.name}}"</h3>
        </qhana-data-preview>
    }
</mat-tab-nav-panel>
