<qhana-plugin-uiframe class="plugin-frame" [url]="activePluginFrontendUrl"
    [context]="{experimentId: currentExperimentId??undefined, location: 'temp'}"
    (formDataSubmit)="onPluginUiFormSubmit($event)" (requestDataPreview)="previewData = $event"
    *ngIf="activePluginFrontendUrl != null">
</qhana-plugin-uiframe>

<qhana-data-preview class="data-preview" [data]="previewData"
    [context]="{experimentId: currentExperimentId??undefined, location: 'temp.data-preview'}"
    *ngIf="previewData">
    <h3 class="t-headline">Preview "{{previewData.name}}"</h3>
</qhana-data-preview>
